@import "@fontsource/noto-sans";

body {
    background-color: black;
    padding: 7vh;
    margin: 0;
}

* {
    color: white;
    font-family: Noto Sans;
}

a {
    color: orange;
    transition-duration: 250ms;

    &:hover {
        color: yellow;
    }
}